html, body{
    margin: 0;
    width: 100%;
}
body{
    background-image: url(images/backgroundImg.gif);
}
@media screen and (max-width: 780px) {
    .lists{
        width: 100%;
    }
    
    .nav div{
        height: 4px;
        background-color: black;
        /*margin of 5px on top and bottom but 0 px on left and right*/
        margin: 5px 0;
        border-radius: 25px;
        transition: 0.3s;
    }
    
    .nav{
        width: 30px;
        display: block;
        /*top 1em, right 0, bottom 0, left 1em*/
        margin: 1em 0 0 1em;
        
    }
    
    .one{
        width: 30px;
    }
    .two{
        width: 20px;
    }
    .three{
        width: 25px;
    }
    
    /*when you hover over the menu, it turns into 3 equal width lines*/
    .nav:hover div{
        width: 30px;
        
    }
    
    .nav:hover .navbar{
        transition: translateX(-30px);
    }
    
    .navbar li{
        display: block;
    }
    
}

@media screen and (min-width: 780px){
    .navbar{
        margin: auto;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: black;
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        position: relative;
        margin: 0 40px;
        padding: 20px;
        text-transform: uppercase;
    }

    .navbar ul li a{
        text-decoration: none;
        color: white;
        font-size: 150%;
    }
    .navbar ul li a:hover{
        color: rgb(45, 215, 237);
        text-decoration: underline;
    }

    .logo{
        width: auto;
    }
}